/*
* Write Page
*
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #636c94;
    font-family: "Montserrat",'Spoqa Han Sans', Arial, sans-serif;
}

button {
    font-family: "Montserrat", Arial, sans-serif;
    cursor: pointer;
}
h5{
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.fake_emoji{
    display: none;
}
.fake_cover{
    display: none;
}
.text{
    font-size :14px;
}
.mail-client {
    width: 1300px;
    height: 800px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    overflow: hidden;
}

.mail-client__left {
    flex-basis: 10%;
    background-color: #e6e9ec;
}
.mail-client__labels__item.selected{
    font-weight: 700;
}
.mail-client__labels__item.selected .text{
    color: deeppink;
}
.mail-client__left .new-message-btn {
    background-color: #02c386;
    color: #fff;
    border: none;
    padding-left: 20px;
    text-align: left;
    height: 75px;
    width: 100%;
    font-size: 14px;
}
.mail-client__left .new-message-btn > .icon {
    margin-right: 10px;
}
.mail-client__left .mail-client__categories {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.mail-client__left .mail-client__categories__item {
    padding: 0 30px;
    line-height: 2.5em;
    display: flex;
    justify-content: space-between;
    color: #82929f;
    cursor: pointer;
}
.mail-client__left .mail-client__categories__item:nth-child(1) > .text {
    color: #000;
}
.mail-client__left .mail-client__categories__item:nth-child(1) > .number {
    color: #538fff;
}
.mail-client__left .mail-client__labels {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 30px;
}
.mail-client__left .mail-client__labels__title {
    font-size: 13px;
    margin-bottom: 10px;
}
.mail-client__left .mail-client__labels__item {
    line-height: 2.5em;
    color: #82929f;
    cursor: pointer;
}
.mail-client__left .mail-client__labels__item > .icon {
    margin-right: 10px;
}
.mail-client__left .mail-client__labels__item:nth-child(2) .icon {
    color: #fd7c4e;
}
.mail-client__left .mail-client__labels__item:nth-child(3) .icon {
    color: #c562ef;
}
.mail-client__left .mail-client__labels__item:nth-child(4) .icon {
    color: #10c286;
}
.mail-client__left .mail-client__labels__add {
    border: none;
    background: none;
    text-align: left;
    outline: none;
    padding: 0;
    font-size: 14px;
    margin-top: 15px;
    color: #82929f;
}
.mail-client__left .mail-client__labels__add > .icon {
    margin-right: 10px;
}

.mail-client .title-container input {
    position: relative;
    display: block;
    width: 936px;
    height: 80px;
    top: 60px;
    left: 80px;
    border: 0px;
    font-size: 50px;
    padding: 6px 0px 0px 10px; /* placeholder padding */
    box-sizing: border-box;
    border-bottom: 1.2px solid rgb(200, 200, 200);
    opacity: 0.7;
}
.mail-client .title-container input::placeholder{
    opacity: 0.6;
}
.emoji-container{
    position: relative;
    padding: 0 10px;
    width: 400px;
    top: 80px;
    left: 80px;
    bottom: 0;
    height: 30px;
}
.emoji-container .emoji-list{
    position: absolute;
    top: -3px;
    margin-left: 10px;
    left: 130px;
    float: left;
}
.emoji-container h5{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.cover-container{
    position: relative;
    padding: 0 10px;
    width: 600px;
    top: 120px;
    left: 80px;
    bottom: 0;
    height: 30px;
}
.cover-container .cover-list{
    position: absolute;
    top: 0px;
    margin-left: 10px;
    left: 130px;
    float: left;
}
.cover-container h5{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  opacity: 0.5;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid transparent;
  opacity: 1;
}
.mail-client .content-container{
    position: relative;
    left: 80px;
    top: 100px;
    bottom: 0;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 12px;
    float: right;
    top: 40px;
    opacity: 0.7;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 150px;
    height: 20px;
    width: 20px;
    background-color: #c8c8c8;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #000;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.mail-client .content-container textarea{
    padding: 10px;
    border: none;
    font-size: 18px;
    opacity: 0.7;
    resize: auto;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
    background-color: white;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.mail-client .post-button {
    position: relative;
    top: 130px;
    left: 880px;
    border: 0;
    color: white;
    background-color: #02c386;
    border-radius: 20px;
    padding: 10px 20px;
}
