<!DOCTYPE html>
<html>
    <head>
        <title>To.</title>
        <link rel='stylesheet' href='/stylesheets/style_mainpage.css' />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="mail-client">
            <section class="mail-client__left">
                <button class="new-message-btn"><span class="icon fa fa-edit"></span><span>투-닷-</span></button>
                <section class="mail-client__labels">
                    <span class="mail-client__labels__title">Menu</span>
                    <a class="mail-client__labels__item" href='/writepage'>
                        <span class="text">새 글 작성</span>
                    </a>
                    <a class="mail-client__labels__item" href='/mypage'>
                        <span class="text">내 글</span>
                    </a>
                    <a class="mail-client__labels__item" href='/community'>
                        <span class="text" style="color: #800000; font-weight: 700;">커뮤니티</span>
                    </a>
                    <a class="mail-client__labels__item" href='/message'>
                        <span class="text">쪽지</span>
                    </a>
                    <a class="mail-client__labels__item" href='/statistics'>
                        <span class="text">통계</span>
                    </a>
                    <a class="mail-client__labels__item" href='/logout'>
                        <span class="text">로그아웃</span>
                    </a>
                </section>
            </section>
            <section class="community-content-wrapper">
                <a class="go-back-icon" href="/community"><img src="/img/left.png" style="width: 30px; position: relative; float: right; right: 40px; top: 40px; opacity:0.9;"></a>
                <a class="go-back-text" href="/community">돌아가기</a>
                <form action=<%= "/sendmessage/"+post.postId %> method="post">
                    <div class="community-content">
                        <div class="user-post">
                            <div class="title"><%= post.title %></div>
                            <div class="content"><%= post.content %></div>
                        </div>
                        <div class="response-container">
                            <h5 style="padding-bottom: 10px;">Enter a response</h5>
                            <textarea class="commnunity-content-response" cols="30" name="message" rows="10" placeholder="Write message."></textarea>
                        </div>
                    </div>
                    <button class="response-send-button" type="submit" id="sendBtn">Send</button>
                </form>
            </section>
        </div>
        <script src="script_mainpage.js"></script>
    </body>
</html>
