<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />
</head>
<body>
  <form style="height: 445px; text-align: center; background-color: #fff; border: 2px solid #02c386;" action="/register" method="post">
    <h1>Register</h1>
    <style>
    @-webkit-keyframes typing { from { width: 0; } }
    @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

    h1 {
      margin-left: 48px;
      font: bold 2em monospace;
      color: black;
      border-right: .1em solid black;
      width: 14ch;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 3s steps(14, end),
      blink-caret .3s step-end infinite alternate;
    }
  </style>
  <!-- <h1 style="font-size: 30px; font-weight: 700; text-align: center; position: relative; top: 0px;">Register</h1> -->
  <p>
    <input style="width: 260px; border: 1px dashed #888;" type="text" name="username" placeholder="username">
  </p>
  <p>
    <input style="width: 260px; border: 1px dashed #888; position: relative; bottom: 30px;" type="password" name="password" placeholder="password">
  </p>
  <p>
    <input style="width: 260px; border: 1px dashed #888; position: relative; bottom: 60px;" type="password" name="" placeholder="confirm password">
  </p>
  <p>
    <input style="border-radius: 20%; border: 1px solid #888; font-size: 14px;" type="submit">
  </p>
</form>
</body>
</html>
